* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  position: relative;
}

/*  */

.current-month-background {
  background: lightgray;
}

.non-current-month-background {
  background: white;
}

.today-background {
  background: lightblue;
}

.calendar-container {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.calendar-months {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  cursor: pointer;
  padding: 0 20px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-week-days {
  border: 1px solid black;
  height: 100px;
  border-radius: 5px;
}

.calendar-week-days:hover{
  border: 2px solid black;
  background: gray;
  cursor: pointer;
}

/* Details component */

.details-container, .schedule-container{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 128, 0, .5);
  width: 100%;
  min-height: 100%;
}

.hello-container, .hello-sch-container{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  background: beige;
  border: 1px solid red;
  width: 60%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

/* Schedule component */

.hello-sch-container{
  display: flex;
  flex-direction: column;
}